
@{
    ViewData["Title"] = "LP";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/css/site.css">
    
    <title>Labour Party Home Page</title>
</head>
<body>
  <header id="main-header">
            <div class="contain">               
                <div id="first">
                    <img src="../img/Coat_of_arms_of_Nigeria.svg.png" height="70" width="100"/>              
                    <h1>Political Minute</h1>
                </div>                             
            </div>
        </header>
      <nav id="navbar">
            <ul>
                 <li>
                <a  asp-controller= "Home" asp-action = "Index">PDP</a>
              </li>

              <li>
                <a asp-controller= "Home" asp-action = "Pdp">APC</a>
              </li>
        
              <li>
                <a asp-controller= "Home" asp-action = "LP">LP</a>
              </li>
              
            </ul>
          </nav>
 <div id="Pal">
     <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="LabourPartyWinsAbiaGuber" target="blank">               
                <div class="image">
                    <img src="../img/Alex-Otti.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Labour party wins Abia Governorship Election</p>
                </div>
            </a>
        </div>

     <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="ObiHires20SANsToReclaimHisMandate" target="blank">               
                <div class="image">
                    <img src="../img/Peter Obi.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi hires 20 SANs to reclaim his mandate</p>
                </div>
            </a>
        </div>

     <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="PeterObiDefeatsTinubuInLagos" target="blank">               
                <div class="image">
                    <img src="../img/Peter-Obi-Lag.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi defeats Tinubu in lagos</p>
                </div>
            </a>
        </div>

     <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="PeterObiGoesToChattamHouse" target="blank">               
                <div class="image">
                    <img src="../img/Obi at chattam house.jpeg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi goes to chattam house</p>
                </div>
            </a>
        </div>

     <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="ObasanjoEndorsesObi" target="blank">               
                <div class="image">
                    <img src="../img/images (26).jpeg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Obasanjo Endorses Obi</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="PeterObiArrivesOwerriToCommissionAHouse" target="blank">               
                <div class="image">
                    <img src="../img/Labour-Party-supporters-welcoming-Obi-in-Owerri.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi arrives Owerri to commission a house donated to labour party</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="NasarawaMatchForObi" target="blank">               
                <div class="image">
                    <img src="../img/obi nasarawa match.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Nasarawa march for Peter Obi</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="PeterObiChoosesARunningMate" target="blank">               
                <div class="image">
                    <img src="../img/senator-datti-baba-ahmed.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi picks Sen. Datti Baba Ahmed as running mate</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="PeterObiRepliesKwankwaso" target="blank">               
                <div class="image">
                    <img src="../img/Peter Obi.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Peter Obi replies Kwankwaso</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="KwankwasoOnHisRefusalTobeObiRunningMate" target="blank">               
                <div class="image">
                    <img src="../img/Kwankwaso.jpg" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Why i can't be running mate to peter Obi - Kwankwaso</p>
                </div>
            </a>
        </div>

        <div class="pal">
            <a id="redirect" asp-controller="LP" asp-action="MbakaOnWhyPeterObiCantBePresident" target="blank">               
                <div class="image">
                    <img src="../img/fr mbaka.webp" width="100" height="100"/>
                </div>
                <div class="let">
                    <p>Why Peter Obi can't be President - Mbaka</p>
                </div>
            </a>
        </div>
    </div>
    </body>
    </html>
