
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Labour Party wins Abia Governorship Election</title>
</head>
<body>

<div id="con">
        <h1>Labour Party wins Abia Governorship Election</h1>
        <div class="lab">
            <label>March 22, 2023</label>
        </div>
        <img src="../img/Alex-Otti.jpg" alt="Otti">
          <p>
         The governorship of the Labour Party (LP), Alex Otti, has been declared the winner of the Abia State governorship election.

The Returning Officer for the election, Nnenna Oti, made the declaration at the State Collation Centre, Umuahia, the state capital, on Wednesday.
        </p>

        <p>
        Mrs Oti, a professor and vice-chancellor of the Federal University of Technology, Owerri, 
        made the declaration after collating results from Obingwa Local Government Area of the state.
        <p>
            
        
   <p> The commission on Wednesday said it had completed the review of the disputed results and okayed the continuation of results collation from the council.
       </p>

       <p>
           In the Obingwa LGA results, the LP candidate polled a total of 3,776 while the candidate of the Peoples Democratic Party (PDP) candidate, Okey Ahiwe, scored a total of 9,962 votes.
       </p>

       <p>
            The final results showed that the LP candidate won in 10 local government areas while the PDP candidate won in six local government areas.
       </p>

       <p>
          There are 17 local government areas in the state.

Mr Otti, the LP candidate, polled a total of 172,386 votes to defeat his closest rival and candidate of the PDP, Mr Ahiwe, who garnered a total of 88,174 votes to come a distant second.
       </p>
        <div class="nexprev">
            <a id="redirect" asp-controller="LP" asp-action ="ObiHires20SANsToReclaimHisMandate">
             <h4>Previous article</h4>
             <p>Peter Obi hires 20 SANs to defend his case</p>   
            </a>

            <a id="redirect" asp-controller="LP" asp-action ="">
                <h4>Next article</h4>
                <p></p>   
               </a>
        </div>
        </div>
    </body>
</html> 