
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Peter Obi hires 20 SANs to defend his case</title>
</head>
<body>

<div id="con">
        <h1>Peter Obi hires 20 SANs to defend his case</h1>
        <div class="lab">
            <label>March 5, 2023</label>
        </div>
        <img src="../img/LP flag.webp" alt="Obi">
        <p>
          According to sources within the party, the lawyers drawn from different chambers were being furnished with materials that would be used as evidence in court.
        </p>

        <p>
          The president-elect and candidate of the All Progressives Congress, Bola Tinubu, was announced the winner of the keenly contested election last Wednesday.

Tinubu polled 8,794,726 votes to defeat the Peoples Democratic Party candidate, Atiku Abubakar, and the LP flag bearer, who got 6,984,520 and 6,101,533 votes respectively.
        <p>
            
        
   <p> But Atiku and Obi rejected the results announced by the Independent National Electoral Commission, with each claiming
       at separate press conferences that the election was fraught with violence and massive rigging.
       </p>

       <p>
           The drama took a twist last Friday when the two major opposition candidates were reported to have approached the court
           to seek permission for the inspection of election materials used during the poll.

At least six states – Adamawa, Akwa Ibom, Bayelsa, Delta, Edo and Sokoto – had dragged the Federal Government before the Supreme Court over the conduct of the February 25 presidential and National Assembly elections before withdrawing the case last Friday.
       </p>

       <p>
           The National Secretary of the Labour Party, Umar Farouk, disclosed some SANs expressed their interest in joining the legal battle to prove Obi’s case.

While disclosing that INEC had lost its independence through its alleged collusion with the ruling APC by giving victory to Tinubu, Farouk said the LP’s hope was vested in the judiciary to do the needful.

We have more than 20 SANs that are willing to participate and offer their services for the renewal and emergence of a new Nigeria. As I am talking to you, our lawyers are working on it.

But this is not something we can discuss on the pages of a newspaper. All I can tell you is that we have started ‘trekking’ to the court, he said.
       </p>

       <p>
           Asked if the leadership of the party and the candidate had been able to garner concrete evidence other than the alleged isolated incidents the APC claimed the Labour Party was dangling to get public sympathy, Farouk said, “The court is not a polling box that they can smash and put in what they want.

If the APC thinks they can pre-empt the court, let them do it. They had earlier pre-empted the election that they were going to win by hook or crook and they had claimed they won. Let’s wait and see. Unlike INEC, the judiciary is a different thing.

We have seen how independent the commission is. But we need to also examine how independent the judiciary also is in a matter of this magnitude. Let’s see the solace it can offer the masses. Let’s see if the judiciary has also shattered the hope of Nigerians just as INEC did.
       </p>
        <div class="nexprev">
            <a id="redirect" asp-controller="LP" asp-action ="PeterObiDefeatsTinubuInLagos">
             <h4>Previous article</h4>
             <p>Peter Obi defeats tinubu in lagos</p>   
            </a>

            <a id="redirect" asp-controller="LP" asp-action ="LabourPartyWinsAbiaGuber">
                <h4>Next article</h4>
                <p>Labour Party wins Abia Gubernatorial Election</p>   
               </a>
        </div>
        </div>
    </body>
</html> 