
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Peter Obi Goes to chattam house</title>
</head>
<body>

<div id="con">
        <h1>Peter Obi Goes to chattam house</h1>
        <div class="lab">
            <label>January 16, 2023</label>
        </div>
        <img src="../img/Obi at chattam house.jpeg" alt="Obi">
        <p>
            Peter Obi while speaking at the chattam house said his administration will 
            fight the structure and “big boys” who prevent the power sector from functioning properly.
        </p>

        <p>
           The LP candidate also said his administration will fight the structure and “big boys” who prevent the power sector from functioning properly.
        <p>
            “That is what I’ve mentioned that Nigeria has been held captive. That structure that has 
            impoverished Nigeria, we will dismantle it. It will not be there; I assure you of that.
        </p>

        <p>
           “I am Going to turn around the power sector — Nigeria generates about five to six thousand megawatts of electricity for 200 million people. And South Africa, the second biggest in terms of economy on the continent — 60 million people — generates about 40,000 to 50,000, and South-Africa 
           in the past three months has declared emergency on power and said anybody can generate up to 100 megawatts without licence.
        </p>

        <p>
            “So, somebody who is 60 million, generating about over 40,000, declared emergency, what do you think somebody with 200 million 
            people generating five to six thousand would do? War.
        </p>

        <p>
           “I’m going to declare war on power and I will solve it. Anybody who stands in the way, so be it.”
        </p>

        <p>
            He also said if elected, his administration would create a suitable platform to attract foreign investors into the country.
        </p>

        <p>
            “Bringing back foreign investors is like bee and honey. What you need is to create honey; where the bee would find the place is very simple. Foreign capital is scared of corruption, 
            is scared of board policies, is scared of where there is no rule of law, You need to put a regulatory environment that makes it conducive; you need to secure it. That is at the heart of what Datti and I are offering.
        </p>

        <p>
            "We will build intangible assets of securing the country,
            making sure that we govern through rule of law. We will fight corruption.”
        </p>
        <div class="nexprev">
            <a id="redirect" asp-controller="LP" asp-action ="ObasanjoEndorsesObi">
             <h4>Previous article</h4>
             <p>Obasanjo Endorses Obi</p>   
            </a>

            <a id="redirect" asp-controller="LP" asp-action ="PeterObiDefeatsTinubuInLagos">
                <h4>Next article</h4>
                <p>Obi defeats Tinubu in lagos</p>   
               </a>
        </div>
        </div>
    </body>
</html> 