
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Peter Obi defeats Tinubu in Lagos</title>
</head>
<body>

<div id="con">
        <h1>Peter Obi defeats Tinubu in Lagos</h1>
        <div class="lab">
            <label>February 27, 2023</label>
        </div>
        <img src="../img/Peter-Obi-Lag.jpeg" alt="Obi">
        <p>
           Presidential candidate of the Labour Party, LP  Peter Obi has defeated the presidential candidate, Asiwaju Bola Tinubu in Lagos, his home state.

According to the results declared, Obi polled 582,664 while Tinubu scored 541,850.
        </p>

        <p>
          Although, the APC candidate won more local government areas, Obi defeated Tinubu with the majority of the votes cast in the state.

All the results of the 20 local governments have been declared. Tinubu won in 11 while Obi won in nine local governments.
        <p>
            <div class="list">
        <h3>
            Number of votes according to Political parties
        </h3>

        <ul>
           
            <li>APC - 572, 606</li>
           
            <li>LP - 582,454</li>
            <li>PDP - 75,750</li>
            <li>NNPP - 618</li>
        </ul>
    </div>
        
   <p>A total of 1,347,152 people were accredited for the election in Lagos, a state where Mr Tinubu has a lot of political control and influence.</p>
        <div class="nexprev">
            <a id="redirect" asp-controller="LP" asp-action ="PeterObiGoesToChattamHouse">
             <h4>Previous article</h4>
             <p>Peter Obi Goes to Chattam House</p>   
            </a>

            <a id="redirect" asp-controller="LP" asp-action ="ObiHires20SANsToReclaimHisMandate">
                <h4>Next article</h4>
                <p>Obi hires 20 SANs to defend his case</p>   
               </a>
        </div>
        </div>
    </body>
</html> 