

@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Appeal Court dismisses Atiku's request to inspect BVAS reconfiguration</title>
</head>
<body>

 <div id="con">
        <h1>Appeal Court dismisses Atiku's request to inspect BVAS reconfiguration</h1>
        <div class="lab">
            <label for="">15 March, 2023</label>
        </div>
        <img src="../img/A Abubakar.jpeg" alt="">
        <p>
           The Presidential Election Petition Court in Abuja on Wednesday dismissed two motions filed by the Peoples Democratic Party (PDP) and its presidential candidate, Atiku Abubakar against the Independent National
           Electoral Commission (INEC), President-elect, Mr Bola Tinubu and the All Progressives Congress (APC).
        </p>

        <p>
            In the first motion marked CA/PEC/13m/2023, Atiku and the PDP requested the court’s permission to observe the reconfiguration of
            the Bimodal Voter Accreditation System (BVAS) machines by INEC officials.
        </p>

        <p>
           The second motion (ex-parte) filed on March 14 on its part sought an order from the court to serve Atiku’s processes on Tinubu and the APC by substituted means, namely by 
           serving their court papers on APC staff or posting them on their premises of the National Secretariat of APC in Abuja. 
        </p>

        <p>
           However, when the motions were to be argued, Counsel to Atiku and PDP, Mr Ifeanyi Iboko informed the court that he had filed a notice of discontinuance in respect of the two motions.

The lawyer explained that he was withdrawing the motions because they have been overtaken by recent events.

In a brief ruling, the Court of Appeal dismissed the two motions. 
        </p>

        
        <div class="nexprev">
            <a id="redirect" asp-controller="Pdp" asp-action ="WikeTakesPresidentialCampaignToBorno">
             <h4>Previous article</h4>
             <p>Wike takes presidential campaign to borno</p>   
            </a>

            <a id="redirect" asp-controller="Pdp" asp-action ="SarakiDocument">
                <h4>Next article</h4>
                <p>Saraki became first presidential aspirant to publish policy document</p>   
               </a>
        </div>

        </div> 
    </body>
</html> 


