

@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title> Atiku, Okowa and other wear black to protest at Inec Office</title>
</head>
<body>

 <div id="con">
        <h1>Atiku, Okowa and other wear black to protest at Inec Office</h1>
        <div class="lab">
            <label for="">6 March, 2023</label>
        </div>
        <img src="../img/Atiku Protest.webp" alt="">
        <p>
           The Presidential candidate of the People’s Democratic Party, PDP, Atiku Abubakar and his 
           running mate, Ifeanyi Okowa are currently leading a protest today (Monday) to the national headquarters of the Independent National Electoral Commission, INEC in Abuja.

        </p>

        <p>
            The protest comes agains the backdrop of alleged irregularity by the Independent National Electoral Commission ( INEC) in declaring the candidate of the 
            All Progressives Congress ( APC), Bola Tinubu, as winner of the presidential contest.
        </p>

        <p>
          The electoral body in its final results said Tinubu scored  8,794,726 votes, while PDP candidate, Atiku Abubakar polled  6,984,520 votes, with the presidential candidate of the Labour Party,  Peter Obi garnering  6,101,533 votes in the keenly contested poll.

However, the PDP has rejected the election results stating that INEC allegedly flouted the Electoral Act 2022 by not uploading results directly from the polling units to its server. 
        </p>

        <p>
          The party has also gone to court to challenge the election results.

In a notice by Ibrahim Bashir, director of admin, Atiku campaign council, the party informed its members that the protest would take off from the Legacy House in the Maitama area by 10 am. It added that the uniform for the protest is black.
        </p>

        <p>
            During the protest Atiku made known to the press that the protest may continue for a long time.
        </p>
        
        <div class="nexprev">
            <a id="redirect" asp-controller="Pdp" asp-action ="PresidentialCandidateSignPeaceAccord">
             <h4>Previous article</h4>
             <p>Presidential Candidates Sign Peace Accord</p>   
            </a>

            <a id="redirect" asp-controller="Pdp" asp-action ="AppealCourtDismissesAtikuRequest">
                <h4>Next article</h4>
                <p>Appeal Court Dismisses Atiku Request to observe BVAS reconfiguration</p>   
               </a>
        </div>

        </div> 
    </body>
</html> 


