
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Document</title>
</head>
<body>

 <div id="con">
        <h1>Pdp Wins Osun Guber Election</h1>
        <div class="lab">
            <label for="">17 July, 2022</label>
        </div>
        <img src="../img/Ademola_Adeleke.webp" alt="">
        <p> INEC, has formally declared Ademola Adeleke of the Peoples Democratic Party (PDP) as the winner of the governorship election held in Osun State.</p>
        <p>I hereby declare that Ademola Adeleke "having satisfied the requirement of the law is hereby declared the winner and he is returned elected," Mr Ogundipe said.</p>
        <p>The PDP won in 17 of Osun’s 30 local governments while the APC won in 13.

            None of the other 13 candidates who took part in the election won in any local government.</p>
           
    <p>
        In total, Adeleke of the PDP got 403,371 votes, while Oyetola of the APC polled 375,027 votes
    </p>
    <div class="nexprev">
        <a id="redirect" asp-controller="Pdp" asp-action ="AtikuPicksOkowaAsRunningMate">
         <h4>Previous article</h4>
         <p>Atiku Picks Okowa as running mate</p>   
        </a>

        <a id="redirect" asp-controller="Pdp" asp-action ="AtikuCampaignSpokeSpersons">
            <h4>Next article</h4>
            <p>Atiku appoints Dino Melaye and Daniel Bwala as campaign spokespersons</p>   
           </a>
    </div>   
     </div>
  
    </body>
</html> 


