

@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Atiku, Obi and others sign peace Accord</title>
</head>
<body>

 <div id="con">
        <h1>Atiku, Obi and others sign peace Accord</h1>
        <div class="lab">
            <label for="">22 February, 2023</label>
        </div>
        <img src="../img/Peace Accord.webp" alt="">
        <p>
           The presidential candidates of the 18 political parties, on Wednesday, signed another peace accord ahead of Saturday’s poll.

The signing ceremony was witnessed by
members of the National Peace Committee, led by Abdusalam Abubakar, former military head of state; President Muhammadu Buhari; former President Goodluck Jonathan; Yakubu Gowon, former military head of state and other dignitaries.
        </p>

        <p>
            The peace accord was signed by Bola Tinubu of the All Progressives Congress (APC), Peter Obi of the Labour Party (LP), Rabiu Kwankwaso of the New Nigeria Peoples Party (NNPP), and Atiku Abubakar of the Peoples Democratic Party (PDP), amongst others.

By signing the peace accord, the candidates “accept and abide by the outcome of the 2023 presidential election and if issues should arise” to “deploy constitutional means and appeal to the courts rather than other unconstitutional means”.
        </p>

        <p>
          Meanwhile, the Independent National Electoral Commission (INEC) said it has commenced the movement of 
          sensitive materials for this Saturday’s election to the various Local Government Areas nationwide. 
        </p>

        <p>
          INEC said by Friday, it would activate the Registration Area Centres (RACs) so that at first light on Saturday, polling units will open on time.

Mahmood Yakubu, INEC’s chairman, said this at the signing ceremony in Abuja.
        </p>

        <p>
            He said the signing of the peace accord on Wednesday comes at a critical moment in the electoral calendar, adding that campaign for presidential and National Assembly elections ends at midnight on Thursday.

He said: “This is the 3rd Peace Accord to be signed by parties and candidates on the eve of a General Election in Nigeria since 2015 and the 9th overall if we include the Accords signed before the commencement of electioneering campaign in September last year and ahead of the five off-cycle 
Governorship elections in Edo and Ondo in 2020, Anambra in 2021 and Ekiti and Osun States in 2022.
        </p>
        
        <div class="nexprev">
            <a id="redirect" asp-controller="Pdp" asp-action ="DontBlameMeIfYouLose2023Election">
             <h4>Previous article</h4>
             <p>Dont Blame Me If You Lose 2023 Election/p>   
            </a>

            <a id="redirect" asp-controller="Pdp" asp-action ="AtikuAndOthersWearBlackToProtestAtInecOffice">
                <h4>Next article</h4>
                <p>Atiku And Others Wear Black To Protest At Inec Office</p>   
               </a>
        </div>

        </div> 
    </body>
</html> 


