
@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Document</title>
</head>
<body>

 <div id="con">
        <h1>Tambuwal Steps Down For Atiku</h1>
        <div class="lab">
            <label for="">27 May, 2022</label>
        </div>
        <img src="../img/Tambuwal and Atiku.jpg" alt="Waziri">
        <p>
            Sokoto state Governor, Aminu Waziri Tambuwal has stepped down for Atiku.
    
        </p>

        <p>
            Tambuwal announced this at the ongoing National Convention at the Moshood Abiola Stadium in Abuja, urged all his delegates to vote for Atiku in national interest 
        </p>

        <div class="nexprev">
            <a id="redirect" asp-controller="Pdp" asp-action ="WikeTakesPresidentialCampaignToBorno">
             <h4>Previous article</h4>
             <p>Wike takes Presidential Campaign to Bornu</p>   
            </a>

            <a id="redirect" asp-controller="Pdp" asp-action ="AtikuWinsPdpPrimaries">
                <h4>Next article</h4>
                <p>Atiku wins Pdp Presidential ticket</p>   
               </a>
        </div>
</div>
    </body>
</html> 


