@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Document</title>
</head>
<body>
    <div id="con">
        <h1>Buhari receives Tinubu and shettima at the state house</h1>
        <div class="lab">
            <label for="">4 August, 2022</label>
        </div>
        <img src= "../img/buhari receives shettima an tinuu.webp" alt="">
        <p>
            The duo were accompanied by the APC Chairman, Abdullahi Adamu and Plateau State Governor, Simon Lalong.
        </p>

        <p>
Adamu said the meeting was to brief the President and get his approval on the party’s plans regarding the campaign outfit and logistics.

At a briefing after the meeting, Adamu also unveiled Lalong as the Director-General of the APC presidential campaign organisation.
        </p>

        <div class="nexprev">
            <a id="redirect" asp-controller="Apc" asp-action ="DelegatesBribedToVoteAmaechiSays">
             <h4>Previous article</h4>
             <p>Delegates bribed to vote at apc presidential primaries - Amaechi</p>   
            </a>

            <a id="redirect" asp-controller="Apc" asp-action ="CautionYourSupportersTinubu">
                <h4>Next article</h4>
                <p>Caution your supporters they are attacking me Tinubu to peter obi</p>   
               </a>
        </div>

       
         </div>
    </div>
</body>
</html> 
