@{
    Layout = "~/Views/Shared/Pages.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <title>Inec declared Tinubu winner of 2023 presidential election</title>
</head>
<body>
      <div id="con">
        <h1>Inec declared Tinubu winner of 2023 presidential election</h1>
        <div class="lab">
            <label>1st march, 2023</label>
        </div>
        <img src="../img/Return the cert.jpeg" alt="tin min">
        <p>Chairman of the Independent National Electoral Commission (INEC), Prof Mahmood Yakubu has declared the candidate of the All Progressives Congress (APC), Bola Ahmed Tinubu as winner of the 2023 presidential election.

The INEC chair made the declaration on Wednesday at the National Collation Centre, Abuja.
        </p>
            <p>Tinubu defeated 17 other candidates who took part in the election. He scored a total of 8,794,726 votes, the highest of all the candidates, 
                thus meeting the first constitutional requirement to be declared the winner.
                </p>
               
                <p>
                    INEC Chairman Mahmood Yakubu, who announced the final results in the early hours of Wednesday in Abuja, said Atiku Abubakar of the PDP came second in the election.

Atiku polled a total of 6,984,520 votes in the election.
                </p>

                <p>
                    Peter Obi of the Labour Party came third in the election with a total of 6,101,533 votes while Rabiu Kwankwaso of the NNPP came fourth with 1,496,687 votes.
                </p>

                <p>Tinubu has also been given certificate of return after his acceptance speech on wednesday</p>
                <div class="nexprev">
                    <a id="redirect" asp-controller="Apc" asp-action="PresidentiaFormBuyers" >
                     <h4>Previous article</h4>
                     <p>List of apc presidential aspirants</p>   
                    </a>
        
                    <a id="redirect" asp-controller="Apc" asp-action="EmirOfDutseEndorsesAmaechi" >
                        <h4>Next article</h4>
                        <p>Emir of Dutse endorses amaechi</p>   
                       </a>
                </div>
        
               
    </div>


</body>
</html> 
